<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Corey Butts | Engineer</title>
    <meta name="description" content="Corey Butts | Engineer">
    <meta name="author" content="Corey Butts">

    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <script src="js/index.js" type="module"></script>
    <!-- <main class="wrapper">
        <section class="parallax bg1">
            <div class="content">
                <h1 id="test" class="about__heading-text"></h1>
            </div>
        </section>

        <div class="section">
            <x-section-about></x-section-about>
        </div>
        <div class="section">
            <x-section-experience></x-section-experience>
        </div>
        <div class="section">
            <x-section-skills></x-section-skills>
        </div>
        <div class="section">
            <x-section-projects ></x-section-projects>
        </div>
    </main> -->

    <canvas id="game-canvas" class="game"></canvas>
</body>
</html>