.experience {
    &__container {
        transition: height 500ms ease;

        &--open {
            @extend .experience__container;
            height: 50vh;
        }
        &--closed {
            @extend .experience__container;
            height: 60px;
        }
    }

    &__header {
        height: 60px;

        transition: background-color 500ms ease;
        cursor: pointer;

        &:hover {
            background-color: $primary-highlight;
            transition: background-color 500ms ease;
        }
    }

    &__header-title {
        margin: auto 0;
        // height: fit-content
    }

    &__content {
        opacity: 1;
        position: relative;
        bottom: 0;
        overflow: scroll;
        transition: opacity 500ms ease, bottom 500ms ease;

        &--hidden {
            @extend .experience__content;
            opacity: 0;
            bottom: 10px;
            transition: opacity 500ms ease, bottom 500ms ease;
        }
    }
}