.animation {
    &--caret {
        animation: blink-caret .75s step-end infinite;
    }
    @keyframes blink-caret {
        from, to { background-color: transparent }
        50% { background-color: $primary; }
    }

    &--fade-in {
        animation: fadeIn ease 3s;
        animation-fill-mode: forwards;
        opacity: 0;
        &-delay {
            @extend .animation--fade-in;
            animation-delay: 1s;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    &--scroll-fade-out {
        position: relative;
        top: 50px;
        opacity: 0;
    }
    &--scroll-fade-in {
        position: relative;
        top: 0;
        opacity: 1;
        transition: all 500ms ease;
    }
}