html * {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: xx-large;
    font-weight: lighter;
}

a {
    &:link, &:visited, a:link:active, a:visited:active {
        color: $secondary;
        text-decoration: none;
    }
}

p {
    line-height: 1.5em;
}

li {
    line-height: 1.5em;
}

.text {
    &--lighter {
        font-weight: lighter;
    }
    &--bold {
        font-weight: bold;
    }
}