<div id="container" class="experience__container--closed">
    <div class="experience__header" onclick="toggleCard">
        <p>{title}</p>
    </div>
    <div id="content" class="experience__content--hidden">
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
        <p>AAAAAA</p>
    </div>
</div>